<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'crud/css/bootstrap.css' %}"/>
    </head>
<body>
    
    <div class="col-md-0"></div>
    <div class="col-md-7">
        <h3 <center>CRUD Using Django Framework</center></h3>
       <br>
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>